{{ define "index" }}
     {{ template "header" }}   
          <main class="px-3">
            <h1>Main page.</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint tempore aperiam labore expedita. In possimus beatae veniam labore ipsa similique, facere, nam corrupti quos voluptas sequi repellendus sint unde iusto.

            </p>
            
           
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
            </p>
          </main>
    {{ template "footer" }}
{{ end }}
        
          